# Ignore everything
*

# But not these files/directories
!README.md
!org/
!json/
!sh/
!el/
!aux/
!md/

# Ensure contents of the directories are not ignored
!json/**
!org/**
!sh/**
!el/**
!aux/**
!md/**
